# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
*.env

# Dependencies
*.egg-info/
.eggs/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Python cache
*.cache
